main {
  display: flex;
  height: 100%;
}

main .content {
  flex: 1;
  overflow-y: auto;
}

main .content > .row > .col.s12:first-child {
  padding: 0;
}

main .map, main .chart {
  display: none;
  padding: 0 20px;
}

main .map {
  display: block;
}

main .map canvas, main .chart canvas {
  margin: 0 auto;
  display: block;
}

main .chartTracer {
  height: 420px;
  margin: 0 auto;
  width: 950px;
}

main svg > :last-child {
  display: none;
}


#panelLock{
  color: gray;
  width: auto;
  text-align: center;
  display:none;
}

#panelLock span{
  font-size:2em;
  font-style: italic;
}