header {
  height: 50px;
}

header .green-text {
  color: #00ee00 !important;
}

header h1 {
  color: #fff;
  font-size: 28px;
  line-height: 50px;
  margin: 0;
  text-align: center;
}

header .btn {
  position: absolute;
  right: 10px;
  top: 5px;
}

header .statusIcons {
  height: 40px;
  overflow: hidden;
}

header .statusIcons i {
  font-size: 40px;
  position: relative;
  top: -5px;
}

#resetContainer {
  margin-right: 100px;
}
