html, body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.btn {
  padding: 0 10px;
  text-align: center;
}

main .constantsContainer table {
  margin: 0 40px;
  width: calc(100% - 80px);
}

#wrap { 
	position:relative
}

#overlay     {
	position:absolute; top:20px; left:30px;
	width:20px;
	height:20px;
	background-color:purple;
}