html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

body > .container-fluid {
  height: 100%;
}

#mainRow {
  height: calc(100% - 70px);
  overflow: auto;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

@media (max-width: 768px){
  #navbarLinks > li {
    float: left;
  }
}

.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  #sidebarLinks {
    display: none!important;
  }
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
nav {
  border-radius: 0px !important;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.disconnected {
  color: red;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

h2 {
  padding-top: 20px;
}


/*
 * Containers
 */

#mapContainer {
  background-color: red;
  width: 100%;
}

#videoContainer {
  background-color: blue;
  width: 100%;
}

#manualControlContainer {
  position: relative;
  width: 400px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Manual control
 */

#goForward {
  position: relative;
  top: -7px;
  left: 51px;
}

#goBackward {
  position: relative;
  top: 90px;
  left: -5px;
}

#turnLeft {
  position: relative;
  top: 38px;
  right: 110px;
}

#turnRight {
  position: relative;
  top: 38px;
  right: 60px;
}

#elevatorUp {
  position: relative;
  left: 30px;
}

#elevatorDown {
  position: relative;
  top: 85px;
  right: 4px;
}

#clampExpand {
  position: relative;
  top: 28px;
  right: -30px;
}

#clampCompress {
  top: 30px;
  position: relative;
  right: -40px;
}